body{
    background-color: black;
}
h1{
    color: #D27685;
    font-weight: bolder;
    font-size: 500;
    font-family: Comic Sans MS;
    text-align: center;
}
.line{
    color: #9E4784;
}
.inline{
    border-style: none;
    border-top-style: dotted;
    border-width: 4px;
    border-color: #9E4784;
    width: 5%;
}
p{
    color: #F5C6EC;
    font-size: larger;
    text-align: center;
}